*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-color: rgb(179 159 137);
    --nav-color: rgba(255, 255, 255, 1);
    --body-color: #cec3ad;
    --footer-color: rgb(179 159 137);
    --text-color: black;
}
hr{
    margin-bottom: 15px;
    width: 100%;
    height: 3px;
    background-color: rgb(179 159 137);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 82.18px;
    background-color: var(--header-color);
    color: var(--text-color);
}
.header p{
    color: white;
}

.nav-ul{
    display: flex;
    list-style: none;
}

.nav-ul li {
    padding-right: 20px;
}

.text-full-stack{
            background: linear-gradient(45deg, #FF8660, #9A33FF);
            background-clip: text;
            -webkit-background-clip: text; /* Para navegadores WebKit más antiguos */
            -webkit-text-fill-color: transparent; /* Para asegurar el color del texto transparente en WebKit */
            font-weight: bold; 
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 58px; 
}

.artic-experiencia{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-left: 10px;
}

.icons{
    width: 30px;
    aspect-ratio:13/15;
}

.skills{
    margin-top: 14px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-content: center;
    width: 48%;
    justify-content: center;
}

.proyectos article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px black;
    width: 391px;
    height: 302px;
}

.proyectos article img {
    height: 70%;
    width: 100%;
}

a{
    text-decoration: none;
    color: var(--nav-color);
}

.conteiner-info{
    background-color: var(--footer-color);
    width: 100%;
    height: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:  10%;
}

.conteiner-articles{
    width: 735px;
    height: 1206px;
    margin-top: 20px;
    border-radius: 18px; /* Establecer un radio de 18px para las esquinas */
    overflow: hidden; /* Asegurar que el contenido dentro de la tarjeta no sobresalga */
}
.artic-experiencia div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.artic-experiencia div img {
    padding-right: 10px;
    width: 35px;
}

.conteiner-articles img {
    width: 10000px;
}

footer{
    height: 124px;
    background-color: var(--footer-color);
}

#foto-perfil{
    margin-top: 15px;
    max-width: 100%;
    height: auto;
    width: 45%;
    border-radius: 50%;/* Esto asegurará que la altura se ajuste automáticamente para mantener la proporción de la imagen */
    box-shadow: 0 0 20px white; /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
}

.conteiner-info-my{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner-info-my p{
    margin-top: 15px;
    text-align: center;
}

p{
    letter-spacing: -0.005625em;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
}

.skills img {
    filter: drop-shadow(
        0 0 10px rgba(0,0,0,.8)
    );
}

.conteiner-footer{
    display: flex;
    flex-direction: column;
    letter-spacing: -0.005625em;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
}
.conteiner-footer a{
    color: var(--text-color);
}

footer h2 {
    text-align: center;
}