<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Portafolio</title>
</head>

<body>
    <header class="header">
        <p>Fran.dev</p>
        <nav>
            <ul class="nav-ul">
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="#experiencia">Experiencia</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="section" id="sobre-mi">
            <img id="foto-perfil" src="../public/img/foto-perfil.jpg" alt="una foto mia">
            <div class="conteiner-info-my">
                <h1>Programador Web <span class="text-full-stack">Full-Stack</span></h1>
                <p>Soy una persona pro activa, responsable y apasionado por mí trabajo. Cuento con experiencia en iDO
                    Technologies, Inc. y Digital House.
                </p>

                <p>
                    Especializado en desarrollo web, me destaco por mi capacidad para
                    mejorar la calidad del código y mi enfoque abarca tanto el Front-End como el Back-End, asegurando una
                    integración fluida y funcionalidad óptima.
                </p>
                
                <p>
                    Me gusta trabajar en equipo, enseñar y aprender nuevas
                    tecnologías para optimizar proyectos.
                </p>


            </div>
        </section> 
    
        <section class="section">
            <h2>Skills</h2>
            <hr>
            <div class="skills">
                <img class="icons" src="../public/img/css.svg" alt="icono-css">
                <img class="icons" src="../public/img/html5.svg" alt="icono-html">
                <img class="icons" src="../public/img/javascript.svg" alt="icono-javascript">
                <img class="icons" src="../public/img/nodejs.svg" alt="icono-nodejs">
                <img class="icons" src="../public/img/react.svg" alt="icono-react">
                <img class="icons" src="../public/img/typescript.svg" alt="icono-typescript">
                <img class="icons" src="../public/img/graphql.svg" alt="icono-graphql">
                <img class="icons" src="../public/img/expressjs_dark.svg" alt="icono-expressjs">
                <img class="icons" src="../public/img/mysql.svg" alt="icono-mysql">
                <img class="icons" src="../public/img/sequelize.svg" alt="icono-sequelize">
                <img class="icons" src="../public/img/git.svg" alt="icono-git">
            </div>            
        </section>

        <section class="section proyectos">
            <h2>Proyectos</h2>
            <hr>
            <article class="conteiner-articles">
                <img src="../public/img/mercadoLiebre.jpg" alt="proyecto" >
                <div class="conteiner-info">
                    <h3 >MercadoLiebre</h3>
                    <a href="http://https://github.com/Sowska/grupo_6_petShop" target="_blank">Repositorio</a>
                    <a href="https://mercadoliebre-fdal.onrender.com/" target="_blank">Host</a>
                </div>
            </article>
        </section>

        <section id="experiencia" class="section">
            <h2 id="title-experiencia">Experiencia Laboral</h2>
            <hr>
            <article class="artic-experiencia">
                <div>
                    <img src="../public/img/digitalhouseschool_logo.jpg" alt="logo-digitalHouse">
                    <h3>Digital House</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, modi!</p>
            </article class="artic-experiencia">

            <article class="artic-experiencia">
                <div>
                    <img src="../public/img/ido_learning_logo.jpg" alt="logo-Edfluence">
                    <h3>iDO Technologies, Inc</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, modi!</p>
            </article class="artic-experiencia">

        </section>
    </main>

    <footer>
        <h2>Contacto</h2>
        <div class="conteiner-footer">
            <a href="http://">Linkeding</a>
            <a href="http://">GitHub</a>
            <img src="" alt=""><p>buddemeyerizzo@gmail.com</p>
        </div>
    </footer>
</body>

</html>